@charset "UTF-8";

@charset "UTF-8";
.main{
	background-color: pink;
	width: 250px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.logo{
	margin-top: 0px;
	margin-bottom: 40px;
}

.account{
	background-color: skyblue;
	display: block;
	margin-bottom: 3px;
	padding: 3px;
	border: 1px solid lightgray;
	border-radius: 3px;
}